.wrapper { 
  
display: grid;
grid-template-columns: 1fr;
/* grid-template-rows :1fr 3fr 2fr 5fr 2fr; */
grid-template-areas: 
"NavMenu"
"HomeHead"
"TopMain"
"HomeMain"
"Footer"
;
}


.NavMenu {
  grid-area: NavMenu;

}





.TopMain{
grid-area: TopMain;
/* background-color: red; */

}

.HomeMain{
grid-area: HomeMain;
/* background-color: brown; */

}

.Footer{
grid-area: Footer;
/* background-color: purple; */

}



@media screen and (max-width: 744px) {
  .wrapper { 
  
    display: grid;

 
    }
}