


.Wrapper {
  display: grid;
  grid-template-rows:minmax(100px ,1fr);
  }
  
.Wrapper nav{ 
  margin-left: 100px;

 }
  
  
  
  .Wrapper nav a {
    float: left;
    text-decoration: none;
  }

  .Wrapper nav a:nth-last-child(1) {
    float: right;
    text-decoration: none;
  }
